<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-2">Agenda rosita</h1>
        </div>
        <div class="overlay"></div>
    </header>
</main>